@import "bootstrap";

.navbar {
  color: #9414E3;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  box-shadow: 2px 4px 6px #88BECF;
  background: image_url('regal.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  color: #14A5E3;
  background: image_url('regal.png');
  height: 100px;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #333;
}

.hero {
  background: url(images/bg.jpg) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: image_url('hero.jpg');
  height: 500px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Pacifico', cursive;
  font-weight: 50;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.goodie-box h2, .goodie-box h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  margin: 10px;
}

.goodie-box {
  -moz-box-shadow: 2px 2px 4px 0 #AFE3C7;
  -webkit-box-shadow: 2px 2px 2px 0 #AFE3C7;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  box-shadow: 5px 5px 2px 0 #AFE3C7;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #B8C4A5 #bebebd #bebebd #B8C4A5;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.help-block {
  color: #296ddb;
  background-color: #a4bfea;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: #1F3A82;
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}