.navbar {
  color: #9414E3;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  color: #14A5E3;
  box-shadow: 2px 4px 6px #88BECF;
  background: image_url('regal.png');
}